OPENAI_API_KEY=
DATABASE_URL=

PINCH_APPLICATION_ID=
PINCH_SECRET_KEY=
PINCH_PUBLISHABLE_KEY=
PINCH_API_BASE_URL=https://api.getpinch.com.au/test
PINCH_API_VERSION=2020.1
HOST=0.0.0.0
PORT=8787

EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_PINCH_PUBLISHABLE_KEY=
