EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:8787
EXPO_PUBLIC_PINCH_PUBLISHABLE_KEY=pk_test_replace_me
EXPO_PUBLIC_PINCH_API_BASE_URL=https://api.getpinch.com.au/test
EXPO_PUBLIC_PINCH_API_VERSION=2020.1
